<div id="navbarCollapse" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
      <li><a href="#/">{{ 'MENU.HOME' | translate }}</a></li>
      <li><a href="#/user">{{ 'MENU.USUARIO' | translate }}</a></li>
      <li><a href="#/operator">{{ 'MENU.OPERADORA' | translate }}</a></li>
      <li><a href="#/contact">{{ 'MENU.CONTATO' | translate }}</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a ng-click="changeLanguage('pt')">{{ 'IDIOMA.PORTUGUES' | translate }}</a></li>
    <li><a ng-click="changeLanguage('en')">{{ 'IDIOMA.INGLES' | translate }}</a></li>
  	<li><a href="#/auth">{{ 'MENU.SAIR' | translate }}</a></li>
  </ul>
</div>


