<!doctype html> 
<html ng-app="app"> 
	<head> 
		<meta charset="UTF-8">
	</head> 
	<body>
		<div class="jumbotron">

			<h3>Lista Usuários</h3>
			<div ng-include="'partials/header.html'"></div>
			
			<input class="form-control" type="text" ng-model="criterio" placeholder="O que você está buscando?"/>
			<hr/>
			<table class="table table-striped">	
				<tr>
					<th>Nome</th>
					<th>Sobrenome</th>
				</tr>
				<tr ng-repeat="user in users | filter:criterio">
					<td>{{user.name}}</td>
					<td>{{user.lastName}}</td>
				</tr>
			</table>

			<button class="btn btn-primary btn-block" disabled="true">Adicionar Usuário</button>
			
		</div>
	</body> 
</html> 